body {
  font-family: cursive;
  background-color: white;
  color: #c41097;
  text-align: center;
  margin: 0;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
}

header {
  background-color: #f8f2bd;
  color: #c41097;
  border: 1px solid blanchedalmond;
  border-radius: 10px;
  padding: 10px;
}

footer {
  background-color: #fdf5c0;
  color: deeppink;
  font-weight: bold;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
}

button {
  background: linear-gradient(
    45deg,
    #45d8f1,
    #6de4ff,
    #2c62f8,
    #51c8f0,
    #5775f0
  );
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  border-radius: 8px;
  display: block;
  margin: 20px auto;
  font-weight: bold;
  cursor: pointer;
}

#participantes {
  text-align: center;
  margin: 20px;
}

#participantes div {
  display: inline-block;
  width: 150px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
}

#participantes img {
  width: 100px;
  height: 100px;
}

.oscuro {
  background-color: #222;
  color: white;
}

.oscuro header {
  background-color: #333;
}

.oscuro footer {
  background-color: #333;
}

.oscuro #participantes div {
  background-color: #444;
  color: white;
}

form {
  background-color: #a09d9d;
  border-radius: 12px;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
